<% if !session[:user_id]%>
  <p>Welcome To My Game Backlog Colelction, Please <a href="/login">Log in</a> To Continue</p>
<% else %>
  <% if Post.all.empty? %>
    Add your first Game!
  <% else %>
    <% Post.all.last(20).reverse_each do |post| %>
      <%= render './posts/post', post: post %>
    <% end %>
  <% end %>
<% end %> 